@use '../mixins'
@use '../variables'

    
.header__container
    width: 1024px
    margin: 0 auto
    display: flex 
    justify-content: space-between

    @include mixins.mobile
        @include mixins.collums
    @include mixins.tablet
        width: 90vw
    @include mixins.notepad    
        width: 90vw


    .image__logo
        width: 7rem
        @include mixins.mobile
            width: 10rem

    
    .nav__menu
        padding-top: 1rem
        
        @include mixins.mobile
            border-top: 2px solid variables.$border-menu
            padding-top: 0
            padding-bottom: 0.5rem
            padding-left: 0.8rem
            width: 90vw
        
        ul
            display: flex
            justify-content: space-between
            align-items: center
            padding-top: 1rem

            li
                list-style: none
                margin-left: 1.5rem
                @include mixins.mobile
                    margin-left: 0.5rem


                a
                    text-decoration: none
                    border-bottom: 2px solid transparent 

                    &:hover
                        @include mixins.hover-text

