@use '../mixins'
@use '../variables'

    
.header__container
    width: 1024px
    margin: 0 auto
    display: flex 
    justify-content: space-between

    @include mixins.mobile
        @include mixins.collums
    @include mixins.tablet
        width: 90vw
    @include mixins.notepad    
        width: 90vw


    .image__logo
        width: 7rem
        @include mixins.mobile
            width: 10rem

    
    .nav__menu
        padding-top: 1rem
        
        @include mixins.mobile
            border-top: 2px solid variables.$border-menu
            padding-top: 0
            padding-bottom: 0.5rem
            padding-left: 0.8rem
            width: 90vw

        .menu__dropdown 
            list-style-type: none
            padding: 2rem 0 0 0
            

            .menu__dropdown__item 
                display: inline-block
                position: relative

                &:hover ul
                    display: block

                .menu__dropdown__link
                    text-decoration: none
                    padding: 0.3rem 1rem 0 0
                    transition: 0.6s
                    &:hover
                      @include mixins.hover-text
                    
            .submenu__dropdown 
                list-style-type: none
                padding: 0 0 0.5rem 2rem
                display: none
                position: absolute
                width: 50px
                height: 100px


                &:hover
                    @include mixins.hover-text
                    

                .submenu__dropdown--item
                    display: inline-block


                    .submenu__dropdown--link
                        display: flex
                        flex-direction: column 
                        text-decoration: none  
                        padding: 3px
                        transition: 0.6s

                        i
                            font-size: 1.5rem
                            border-radius: 20px
                            border: 3px solid variables.$border-menu
                            background-color: variables.$border-menu
                            padding: 0.2rem
                            color: variables.$color-text

                            &:hover
                                
                                color: variables.$color-light




                    

                      