@use '../mixins'
@use '../variables'

.main__container
    margin: 100px auto
    text-align: center 
    width: 1024px   

    h2
        font-size: 2rem
    .main__text--bold
        font-weight: bold
        padding: 1.5rem 0

    .main__text--style
        font-family: variables.$font-styles
        color: variables.$border-menu    
        font-size: 3rem
        margin: 2rem

    .container__services
        display: flex
        justify-content: center


        .card__services
            @include mixins.card-style
            cursor: pointer
            

            
            &:hover
                border: 1px solid variables.$border-menu
                
                h3
                    color: variables.$border-menu
                    transition: .3s

                p
                    color: variables.$border-menu           
                    transition: .3s

            img
                width: 200px
                height: 150px
                
                
            h3
                margin-top: 1rem
                font-size: 2rem   
                font-family: variables.$font-styles 

                
                    
