
@use '../styles/variables'


// header    
@mixin hover-text
    color: variables.$border-menu
    transition: .6s


@mixin hover-image
    -webkit-transform: scale(1.4)
    -ms-transform: scale(1.4)
    transform: scale(1.4)
    transition: transform .3s        

@mixin collums
    width: 90vw
    flex-direction: column
    justify-content: center
    align-items: center  

// banner

@mixin banner-text
    text-align: center
    font-size: 8rem
    position: relative
    top: 120px
    text-shadow: 3px 3px #3f3f3f
    color: variables.$color-light
    font-family: variables.$font-styles

//mainContainer    

@mixin card-style
    width: 250px
    height: 300px
    border: 1px solid variables.$color-dark
    padding: 20px 0
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px
    transition: .3s
        
    


@mixin mobile
    @media (max-width: 500px)
        @content               
                         
// Tablet

@mixin tablet
    @media (min-width: 501px) and (max-width: 850px)
        @content                        

// Notepad
@mixin  notepad
    @media (min-width: 851px) and (max-width: 1200px)
        @content      

